@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.footer{   
    background-color:#CC57EA;
    color: rgba(255, 255, 255, 0.76);
    margin: 0px;
    font-family: 'Poiret One', cursive;
    
}

